<!DOCTYPE html>
<html lang="en">

<head>
    <title>AI 애착인형</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      <!-- Meta -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />

      <meta name="keywords" content="bootstrap, bootstrap admin template, admin theme, admin dashboard, dashboard template, admin template, responsive" />
      <meta name="author" content="Codedthemes" />
      <!-- Favicon icon -->

      <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
      <!-- Google font-->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
      <!-- Required Fremwork -->
      <link rel="stylesheet" type="text/css" href="/static/css/bootstrap/css/bootstrap.min.css">
      <!-- waves.css -->
      <link rel="stylesheet" href="/static/pages/waves/css/waves.min.css" type="text/css" media="all">
      <!-- themify-icons line icon -->
      <link rel="stylesheet" type="text/css" href="/static/icon/themify-icons/themify-icons.css">
      <!-- ico font -->
      <link rel="stylesheet" type="text/css" href="/static/icon/icofont/css/icofont.css">
      <!-- Font Awesome -->
      <link rel="stylesheet" type="text/css" href="/static/icon/font-awesome/css/font-awesome.min.css">
      <!-- Style.css -->
      <link rel="stylesheet" type="text/css" href="/static/css/style.css">
      <script>
        function submit_click(){
            var pw = document.getElementById('pw').value
            var pwcheck = document.getElementById('pwCheck').value
            if(pw == pwcheck){
                document.getElementById('signup-form').submit();
            }else{
                alert("비밀번호가 일치하지 않습니다.")
                document.getElementById('confirm_password').focus()
            }
        }
        window.setTimeout(function() {
            $(".alert-auto-dismissible").fadeTo(500, 0).slideUp(500, function(){
                $(this).remove();
            });
        }, 4000);
    </script>
    {% if messages %}
        {% for message in messages %}
            <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-auto-dismissible"{% endif %}>{{ message }}</div>
        {% endfor %}
    {% endif %}
    <!-- {% for message in messages %}
    <div class="alert {{ message.tags }} alert-auto-dismissible alert-dismissible notification-container text-center" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
    {% endfor %} -->
  </head>

  <body themebg-pattern="theme1">
  <!-- Pre-loader start -->
  <div class="theme-loader">
      <div class="loader-track">
          <div class="preloader-wrapper">
              <div class="spinner-layer spinner-blue">
                  <div class="circle-clipper left">
                      <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                      <div class="circle"></div>
                  </div>
              </div>
              <div class="spinner-layer spinner-red">
                  <div class="circle-clipper left">
                      <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                      <div class="circle"></div>
                  </div>
              </div>

              <div class="spinner-layer spinner-yellow">
                  <div class="circle-clipper left">
                      <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                      <div class="circle"></div>
                  </div>
              </div>

              <div class="spinner-layer spinner-green">
                  <div class="circle-clipper left">
                      <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                      <div class="circle"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Pre-loader end -->
  <section class="login-block">
        <!-- Container-fluid starts -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <form action="" method="POST" id="signup-form" class="md-float-material form-material">
                        {% csrf_token %}
                        <div class="auth-box card">
                            <div class="card-block">
                                <div class="row m-b-20">
                                    <div class="col-md-12">
                                        <h3 class="text-center txt-primary">Sign up</h3>
                                    </div>
                                </div>
                                <div class="form-group form-primary">
                                    <input type="text" name="userId" class="form-control">
                                    <span class="form-bar"></span>
                                    <label class="float-label">Your id</label>
                                </div>
                                <div class="form-group form-primary">
                                    <input type="text" name="userEmail" class="form-control">
                                    <span class="form-bar"></span>
                                    <label class="float-label">Your Email Address</label>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group form-primary">
                                            <input id="pw" type="password" name="password" class="form-control">
                                            <span class="form-bar"></span>
                                            <label class="float-label">Password</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group form-primary">
                                            <input id="pwCheck" type="password" name="confirm_password" class="form-control">
                                            <span class="form-bar"></span>
                                            <label class="float-label">Confirm Password</label>
                                        </div>
                                    </div>
<!--주소1 ~ 주소3 버튼-->
                                <div class="col-sm-4">
                                    <div class="form-group form-primary">
                                        <div class="container mt-3 input-group-sm">
                                            <div class="input-group-prepend">
                                                <!-- <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"></button> -->
                                                <select name="region_1" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                                    <option class="dropdown-item" value="0">시/도</option>
                                                    {% for i in region1_list %}
                                                        <option class="dropdown-item" value={{ i }} >{{ i }}</option>
                                                    {% endfor %}
                                                    <!-- <option class="dropdown-item" value="2">Link 2</option>
                                                    <option class="dropdown-item" value="3">Link 3</option> -->
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group form-primary">
                                        <div class="container mt-3 input-group-sm">
                                            <div class="input-group-prepend">
                                                <select name="region_2" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                                    <option class="dropdown-item" value="0">구/군/시</option>
                                                    {% for i in region2_list %}
                                                        <option class="dropdown-item" value={{ i }} >{{ i }}</option>
                                                    {% endfor %}
                                                    
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="col-sm-6">
                                    <div class="form-group form-primary">
                                        <div class="container mt-3 input-group-sm">
                                            <div class="input-group-prepend">
                                                <select name="region_3" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                                    <option class="dropdown-item" value="0">동/면/읍</option>>
                                                    {% for i in region3_list %}
                                                        <option class="dropdown-item" value={{ i }} >{{ i }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
<!--주소1 ~ 주소3 버튼-->
                                <div class="forgot-phone text-right f-right">
                                    <a href="/sign_in/" class="text-right f-w-600"> Sign In (로그인)</a>
                                </div>
                                <br>
                            <div class="row m-t-30">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" onclick="submit_click();">Sign up now</button>
                                </div>
                            </div>
                            <hr/>
                        </div>
                    </form>
                </div>
                <!-- end of col-sm-12 -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of container-fluid -->
    </section>

<!-- Required Jquery -->
<script type="text/javascript" src="/static/js/jquery/jquery.min.js "></script>
<script type="text/javascript" src="/static/js/jquery-ui/jquery-ui.min.js "></script>
<script type="text/javascript" src="/static/js/popper.js/popper.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap/js/bootstrap.min.js "></script>
<!-- waves js -->
<script src="/static/pages/waves/js/waves.min.js"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="/static/js/jquery-slimscroll/jquery.slimscroll.js"></script>
<script type="text/javascript" src="/static/js/common-pages.js"></script>
</body>

</html>

